body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040d21;
    background-image: url(https://github.githubassets.com/assets/hero-glow-f6eed469bca2.svg);
    height: 100vh;
    margin: 0;
}

.deleteButton {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.deleteButton svg {
    width: 40%;
}

.deleteButton:hover {
    background-color: rgb(237, 56, 56);
    overflow: visible;
}

.bin path {
    transition: all 0.2s;
}

.deleteButton:hover .bin path {
    fill: #fff;
}

.deleteButton:active {
    transform: scale(0.98);
}

.tooltip {
    --tooltip-color: rgb(41, 41, 41);
    position: absolute;
    top: -40px;
    background-color: var(--tooltip-color);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 8px 12px;
    font-weight: 600;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
}

.tooltip::before {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    content: "";
    background-color: var(--tooltip-color);
    bottom: -10%;
}

.deleteButton:hover .tooltip {
    opacity: 1;
}