body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040d21;
    background-image: url(https://github.githubassets.com/assets/hero-glow-f6eed469bca2.svg);
    height: 100vh;
    margin: 0;
    height: auto;
}

main {
  width: 50%;
}
#reclamacoes-container {
  margin-top: 20px;
}
.boxpost {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}